html, body, .screen { margin:0; width:100%; height:100% }
h1, ul, li { margin:0; padding:0 }

.screen { display:table; max-width:800px; margin:0 auto }
.screen header, .screen main, .screen footer { display:table-row }
.screen main { height:100% }

#categories ul { display:table; width:100% }
#categories li { display:table-row }
#categories span { display:table-cell }
#categories .name {  }
#categories .amount { text-align:right; white-space:nowrap }

.left { float:left }
.right { float:right }