html, body, .screen { margin:0; width:100%; height:100% }
h1, ul, li { margin:0; padding:0 }

.screen { display:flex; flex-direction:column; max-width:800px; margin:0 auto }
.screen main { flex:auto }
.screen footer { display:flex; flex-direction:row }
.screen footer .left { flex:auto }

#categories li { display:flex; flex-direction:row }
#categories .name { flex:auto }