html, body, .screen { margin:0; width:100%; height:100% }
h1, ul, li { margin:0; padding:0 }

body, button { font:normal 16pt/170% 'Avenir','Segoe UI',sans-serif }
body { color:#000; background:#FFF }
h1 { font-size: 16pt; text-align:center }
button { padding:0.1em 0.8em }

#total { font-weight:normal }

.screen { display:table; max-width:800px; margin:0 auto }
.screen header, .screen main, .screen footer { display:table-row }
.screen main { height:100% }

#categories ul { display:table; width:100% }
#categories li { display:table-row }
#categories span { display:table-cell }
#categories .name { padding:0 0 0 1em; color:#666 }
#categories .amount { text-align:right; white-space:nowrap; padding:0 1em }
#categories .empty .amount { color:#CCC }

.left { float:left }
.right { float:right }